{% extends "main.html" %}
{% block tabs %}
{{ super() }}


<!-- Additional styles for landing page -->
<style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

<div class="section section1" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          {% for c in config.extra.platformCommon.subMenu %}
          <div class="col-12 col-lg-4 col-md-6 mar-bt">
            <div class="card features">
              <a id=home href="{{c.path}}">
                <div class="card-body card-bd-border card-height-platform-help">
                  <div class="media">
                    <img src="{{c.image}}">
                    <div class="media-body">
                      <p class="card-title">{{ c.displayName }}</p>
                      <p class="card-text">{{c.description}}</p>
                      <p class="card-text" style="font-size: 14px; color: #CC0000; text-decoration: none;">Learn more</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}
